<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/css")
    @*@Scripts.Render("~/bundles/modernizr")*@
    
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")"></script>
</head>
<body>

    <!-- Preloader -->
    <div id="preloader-bg">
        <div id="preloader"></div>
    </div>

    <header id="sub-page">
        <div class="container">

            <!-- BEGIN NAVIGATION -->
            <nav class="navbar custom-nav" role="navigation">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#custom-nav">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">john. miller.</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="custom-nav">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            @Html.ActionLink("Home","Index","Home")
                        @*<a class="selected" href="index.html">Home</a>*@
                        </li>
                        <li>
                        @*<a href="works.html">Works</a>*@
                            @Html.ActionLink("Works", "Index", "Works")
                        </li>
                        <li>
                        @*<a href="blog.html">Blog</a>*@
                            @Html.ActionLink("Blog", "Index", "Blog")
                        </li>
                        <li class="dropdown custom-dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Other +</a>
                            <ul class="dropdown-menu">
                                <li><a href="blog-single.html">Single article</a></li>
                                <li><a href="works-single.html">Single work</a></li>
                                <li><a href="components.html">Components</a></li>
                                <li><a href="pricing-tables.html">Pricing tables</a></li>
                                <li>
                                    @*<a href="404.html">404 page</a>*@
                                    @Html.ActionLink("404 page", "NotFound", "Error")
                                </li>
                            </ul>
                        </li>
                        <li>
                            @*<a href="contact.html">Contact</a>*@
                            @Html.ActionLink("Contact", "Index", "Contact")
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </nav>
        </div>

        @RenderSection("BobyHeader", required: false)
    </header>
    <!-- /////////////////////////////////////////////////////////////////////////////// -->

    @RenderBody()

    @Scripts.Render("~/bundles/js")
    @RenderSection("scripts", required: false)

    <!-- /////////////////////////////////////////////////////////////////////////////// -->
    <footer>
        <div class="row">
            <div class="col-sm-6 col-xs-12 footer-share">
                <p>Show some love...</p>

                <!-- Facebook Like button -->

                <!-- 
                        <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fenvato.com&amp;width=140&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=true&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:140px; height:21px;" allowTransparency="true"></iframe>
                        -->

                <!-- Twitter Share button -->
                <a href="https://twitter.com/share" class="twitter-share-button" data-via="nemos_">Tweet</a>
            </div>

            <div class="col-sm-6 col-xs-12 footer-info">
                <p>Profit Group | Copyright В© 2015.</p>
                <p class="to-top">Back to Top<a href="#">&nbsp;</a></p>
            </div>
        </div>
    </footer>

    <!-- Twitter Share button JS -->
    <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>
    <!-- /SCRIPTS + JQUERY -->

</body>
</html>
