@using MainSite.Core
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    

    <meta name="description" content="Ukraine software company @SiteSettings.CompanyName located in Kmelnitskiy">
    <meta name="keywords" content="software, outsourcing, .net, C#, ms sql, ukraine, kmelnitslkiy">
    <meta name="author" content="@SiteSettings.CompanyName">

    <title>@ViewBag.Title</title>        
        
    <link href='http://fonts.googleapis.com/css?family=Raleway:100,300,400,600,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:100,300' rel='stylesheet' type='text/css'>    

    @Styles.Render("~/styles")    
</head>
<body>

    <!-- Preloader -->
    <div id="preloader-bg">
        <div id="preloader"></div>
    </div>

    <header id="sub-page">
        <div class="container">

            <!-- BEGIN NAVIGATION -->
            <nav class="navbar custom-nav" role="navigation">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#custom-nav">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">@SiteSettings.CompanyName</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="custom-nav">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            @Html.ActionLink("about","Index","Home")
                        </li>
                        <li>
                            @Html.ActionLink("projects", "Projects", "Home")
                        </li>
                        @*<li>
                            @Html.ActionLink("blog", "Blog", "Home")
                        </li>*@
                        <li class="dropdown custom-dropdown" style="display:none">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Other +</a>
                            <ul class="dropdown-menu">
                                <li><a href="blog-single.html">Single article</a></li>
                                <li><a href="works-single.html">Single work</a></li>
                                <li><a href="components.html">Components</a></li>
                                <li><a href="pricing-tables.html">Pricing tables</a></li>
                                <li>
                                    @Html.ActionLink("404 page", "NotFound", "Error")
                                </li>
                            </ul>
                        </li>
                        <li>
                            @Html.ActionLink("contact us", "Contact", "Home")
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </nav>
        </div>

        @RenderSection("BodyHeader", required: false)
    </header>
    <!-- /////////////////////////////////////////////////////////////////////////////// -->
    
    
    <!-- BEGIN MAIN CONTENT -->
    <div class="container boxed">

        @RenderBody()
        
        @{Html.RenderPartial("Partial/SocialNetworkPartial");}  
        @{Html.RenderPartial("Partial/FooterPartial");}
    
    </div>
    <!-- END MAIN CONTENT -->

    @Scripts.Render("~/bundles/js")
    @Scripts.Render("~/bundles/modernizr")    

    @RenderSection("scripts", required: false)
           
    <!-- /////////////////////////////////////////////////////////////////////////////// -->

    @{Html.RenderPartial("Partial/TwitterSharePartial");}

</body>
</html>
